---
import CommandBox from '../components/CommandBox.astro';
import { commands } from '../data/commandsData.json';
---

<section id="commands" class="py-20 md:py-32 bg-gradient-to-b from-black/50 to-black">
    <div class="container px-4 md:px-6 mx-auto">
        <div class="flex flex-col items-center justify-center space-y-4 text-center">
            <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-[#FFC0B4] text-black hover:bg-[#FFC0B4]/80">
                Commands
            </div>
            
            <div class="space-y-2">
                <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                    Simple Commands for Perfect Control
                </h2>
                <p class="mx-auto max-w-[700px] text-white/70 md:text-xl">
                    Control Mr. Gato with these intuitive slash commands. No complex syntax to remember.
                </p>
            </div>
            
            <div class="mx-auto mt-12 grid max-w-5xl gap-6 md:grid-cols-2 lg:grid-cols-3 w-full text-left"> <!-- Añadido text-left aquí -->
                {commands.map((category, index) => (
                    <div class="flex flex-col space-y-3">
                        {category.category.map((cmd) => (
                            <CommandBox command={cmd.command} description={cmd.description}>
                                <Fragment set:html={cmd.icon} />
                            </CommandBox>
                        ))}
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>