---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mr. Gato | Home">
  <div class="z-70 w-full flex items-center justify-center py-10"> 
    <h1 class="text-white font-semibold"> Mr. Gato </h1>
  </div>
</Layout>
